
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsifydi</title>
   <script type="module" src="./main.js"></script>
</head>
<body>
    <div id="app"></div>
</body>
</html>
<!---------<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding Screen</title>
    <script type="module" src="main.js"></script>
</head>
<body>
    <div id="wrapper">
    <div class="onboarding">
        <div class="iphone-frame">
            <div class="logo__frame">
                <img src="/public/images/Onboarding 2.png">
            </div>
            
        <div class="main-content">
            <h2>Stay Connected, <br> Everywhere, Anytime</h2>
            <p>Welcome to Newsify, your ultimate<br> destination for breaking news, exclusive<br> stories, and tailored content.</p>
            <div class="pagination">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="buttons">
                <button class="skip-button">Skip</button>
                <button class="continue-button">Continue</button>
            </div>
        </div>
        
         <hr class="inline">
        
    </div>
    </div>
</body>
</html>---->