<!-----<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding Screen</title>
    <script type="module" src="main.js"></script>
</head>

<body>
    <div id="wrapper">
         <div class="onboarding">
            <div class="iphone-frame">
                <div class="logo">
                    <img src="/public/images/Onboarding 3.png">
                </div>

                <div class="main-content">
                    <h2>Become a Savvy<br> Global Citizen.</h2>
                    <p>Discover tailored news that aligns with<br> your interests and preferences. Your<br> personalized
                        news journey awaits!</p>
                    <div class="pagination">
                        <span class="dot "></span>
                        <span class="dot active"></span>
                        <span class="dot"></span>
                    </div>
                    <div class="buttons">
                        <button class="skip-button">Skip</button>
                        <button class="continue-button">Continue</button>
                    </div>
                </div>
                <hr class="inline">
            </div> 

        <div class="slider">
            <article class="slider__slide">
                <img src="/public/images/Onboarding 2.png" alt="" class="slider__image">
                <h2 class="slider__title">Stay Connected,<br>
                    Everywhere, Anytime</h2>
                <p class="slider__text">Welcome to Newsify, your ultimate<br> destination for breaking news,
                    exclusive<br> stories, and tailored content.</p>
            </article>
            <article class="slider__slide">
                <img src="/public/images/Onboarding 3.png" alt="" class="slider__image">
                <h2 class="slider__title">Become a Savvy<br>Global Citizen.</h2>
                <p class="slider__text">Discover tailored news that aligns with<br> your interests and preferences.
                    Your<br> personalized news journey awaits</p>
            </article>
            <article class="slider__slide">
                <img src="/public/images/Onboarding 4.png" alt="" class="slider__image">
                <h2 class="slider__title">Enhance your News<br>
                    Journey Now!</h2>
                <p class="slider__text">Be part of our dynamic community and<br> contribute your insights and
                    participate<br> in enriching conversations
                </p>
            </article>
        </div>

        <div class="scrollbar">
            <label class="scrollbar__label">
                <input type="radio" name="scrollbar" class="scrollbar__radio" checked>
            </label>
            <label class="scrollbar__label">
                <input type="radio" name="scrollbar" class="scrollbar__radio">
            </label>
            <label class="scrollbar__label">
                <input type="radio" name="scrollbar" class="scrollbar__radio">
            </label>
        </div>
        <div class="buttons">
            <a href="" class="buttons__button">skip</a>
            <button class="buttons__button continue">continue</button>
        </div>




    </div>
</body>

</html>